.container {
  width: 100%;
  min-height: 100vh;
  max-width: 1049px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  .cardContainer {
    position: relative;
    width: 319px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      width: 40vw;
      height: 100%;
      background-color: var(--violet-900);
      background-image: url('../../assets/images/bg-main-desktop.png');
      background-size: cover;
      background-position: right top;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    .cardWrapper {
      position: absolute;
      left: 0;
      z-index: 10;

      animation: fadeInLeft 500ms forwards;
    }
  }

  .formContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .form {
      width: 100%;
      max-width: 381px;

      animation: fadeInRight 500ms forwards;

      .formFieldsContainer {
        display: flex;
        flex-direction: column;
        gap: 26px;
      }

      .formGroup {
        display: flex;
        gap: 20px;
      }

      .dateFieldContainer {
        display: flex;
        gap: 10px;
      }

      .formActionsContainer {
        margin-top: 40px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .cardContainer {
      height: 240px;
      width: 100%;
      padding: 0 16px;

      &::before {
        width: 100%;
        background-image: url('../../assets/images/bg-main-mobile.png');
        background-position: center top;
      }

      .cardWrapper {
        top: 32px;
        left: initial;
      }
    }

    .formContainer {
      margin-top: 90px;
      padding: 0 20px;
      justify-content: center;
      align-items: flex-start;

      .form {

        .formFieldsContainer {
          row-gap: 20px;
        }

        .formGroup {
          gap: 10px;
        }

        .dateFieldContainer {
          gap: 8px;
        }

        .formActionsContainer {
          margin-top: 28px;
        }
      }
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

